.user-input-row{
  margin: 50px;
}
#cancel_btn {
  margin-left: 15px;
  color:#ffd740 !important;
  width:250px;
    height:60px;
    font-size: 25px;
    background-color: #bb0000;
   
}
#login_btn{
  width:250px;
    height:60px;
    font-size: 25px;
  background-color: #ffd740 !important;
  color:#38006b !important;
}
#hero{
  background-image: url(/assets/userinput.jpg);
  background-size: cover;
  background-position: center top;
  position:relative;
  top:0;
  bottom:0;
  height:90vh;
  
}
#hero-overlay{
  position:absolute;
  background-color:rgb(255, 255, 255,0.0);
  top:0;
  bottom:0;
  height:100%;
  width:100%;
}
.container{
  height: 80%; 
  width:90%;
  margin:0 auto;
  margin-top:50px;
  
}
.container .card{
  position:relative;
  width:300px;
  height:400px;
  margin:30px;
  background:#ffff;
  box-shadow: 0 15px 60px rgba(0,0,0,.5); 
  float: left;
}
.container .card .face{
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
  height:100%;


}
.face.face2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .card .face.face1{
  box-sizing: border-box;
  padding:10px;
}
.container .card .face.face1 h2{
margin:0;
padding:0;

}
.container .card .face.face2{
  background:#111;
  transition:0.5s;

}
.container .card:nth-child(1) .face.face2{
background:linear-gradient(45deg,#ffd740,#6a1b9a);
}

.container .card:nth-child(2) .face.face2{
  background:linear-gradient(45deg,#ffd740,#6a1b9a);
  }

.container .card:nth-child(3) .face.face2{
  background:linear-gradient(45deg,#ffd740,#6a1b9a);
  }

.container .card:nth-child(4) .face.face2{
  background:linear-gradient(45deg,#ffd740,#6a1b9a);
  }

.container .card:hover .face.face2{
  height:60px;

}
.container .card .face.face2:before{
  content: '';
  position:absolute;
  top:0;
  left:0;
  width:50%;
  height:100%;
  background: rgba(255,255,255,.1);
}
.container .card .face.face2 h2{
margin:0;
padding:0;
font-size:10em;
color:#fff;
transition:0.5s;
text-shadow: 0 2px 5px rgba(0, 0,0,0.2);
}
.container .card:hover .face.face2 h2{
  font-size:2em;
}
.btn_container{
  text-align:center;
}
.card_question{
  font-family: 'Lobster',cursive;
  color:#6a1b9a;
  font-size:22px;
}