<div id="hero">
  <div id="hero-overlay">
<div class="center">
  <h1 style="font-size:60px; font-family: 'Lobster',cursive"><b>Impressum</b></h1>
  <p><strong>Angaben gemäß § 5 TMG:</strong></p>
  <p>Technische Universität Berlin<br></p>
  <p><strong>Postanschrift:</strong><br>Straße des 17. Juni 135<br>10623 Berlin<br></p>
  <p><strong>Verantwortlich für den Inhalt dieser Website : 
    <ul>
      <li>Sara Kadenaj </li>
       <li> Alejandro Jaramillo </li>
      <li>Adrianna Juchacz</li>
    <li>Felipe Infantino</li>
    <li>Phillip Vogler</li>
    <li>Arne Seelisch</li>
    <li>Furkan Tas</li>
    <li>Mohamed Abu-Shawish</li>
  </ul></strong></p>
  <p>E-Mail: s.kadenaj@campus.tu-berlin.de <br>E-Mail: alejandro.jaramillocorrales@campus.tu-berlin.de<br>
    Email: adrianna.juchacz@campus.tu-berlin.de<br>
    Email: felipe.infantinomoreno@campus.tu-berlin.de<br>
    E-Mail: phillip.vogler@campus.tu-berlin.de<br>
    E-Mail: arne.seelisch@campus.tu-berlin.de<br>
    E-Mail:furkan.tas@campus.tu-berlin.de<br>
    E-Mail:abu-shawish@campus.tu-berlin.de</p>
  </div>
  </div>
</div>