<div id="hero">
        <div id="hero-overlay">
                <div class="center">
                        <h1 style="font-size:60px; font-family: 'Lobster',cursive"><b>About</b></h1>

                        <p class="thick">
                                LUNCHPAL helps you in finding people to talk about your interests
                                while enjoying a meal.
                        </p>
                        <p>
                                It's not a second Facebook, here you don't collect virtual friends.
                                You only choose a date, a time, a location and some interests you
                                want to talk about during your lunchtime. LUNCHPAL takes care of
                                the rest. It finds your lunchpals who want to talk about the same
                                interests while enjoying their lunch with you.
                        </p>
                        <p>
                                Aside from being able to edit your own profile,
                                LUNCHPAL allows you to always keep an eye on your planned meetups.
                                LUNCHPAL focuses on the matching with other people for your
                                lunchtime, so there is no management of groups or friends.
                        </p>
                </div>
        </div>
</div>