html{
    height:100%;
    overflow: hidden;
}
body{
 
    
    background-color:white; 
    background-position: right; 
    background-repeat: no-repeat; 
    background-size: cover; 
    min-height: 110vh;
    overflow: hidden;
   


  }
 