


 /*login test*/
 .login_card{
  text-align: center;
 margin-top:150px;
   height:100%;
   width:450px;
   background-color: white;
   box-shadow: none !important;
   background-color: transparent;
   }

.login_title{
 font-size:50px;
 color:#38006b;
 border-bottom: solid 5px #ffd740;
 width:50px;
}
#login_btn{
 width:250px;
 height:60px;
 font-size: 25px;
background-color: #ffd740 !important;
color:#38006b !important;

}

#login_btn:hover{
 background-color:yellow !important;
}

.mat-card-actions{
 text-align:center !important;
}
.login-full-width{
 width: 400px !important;
}
input{
 font-size: 20px;
 color:#6a1b9a;
}

.custom_p{
  font-size:20px;
  font-family: 'Roboto',sans-serif;
  color:white;
}
h2{
  font-family: 'Lobster' ,cursive;
  color:white;
  font-size: 60px;
}
.center{
 padding-top:20px;
 text-align: center;
 width:95%;
}
.mat-card-content{
 margin-top:20px;
}
.mat-form-field{
 width:85%;
}
/*background image*/
#hero{
  background-image: url(/assets/home.jpg);
  background-size: cover;
  background-position: center bottom;
  position:relative;
  top:0;
  bottom:0;
  height:90vh;
  
}
#hero-overlay{
  position:absolute;
  background-color: rgb(106, 27, 154,0.65);
  top:0;
  bottom:0;
  height:100%;
  width:100%;
}

.mat-box-intro{
  font-size:16px;
  font-family: 'Roboto',sans-serif;
  color:#38006b ;
}

.joinedmembers button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

.joinedmembers button.report {
  position: relative;
  color:#ffd740 !important;
  background-color: #bb0000 !important;
}

.example-form-field {
  width: auto;
}