

  
<!--<section class="wave" id="intro" >-->
    <div id="hero">
        <div id="hero-overlay">
<div class="full-bg-img header-filter">
  <div  fxLayout="row"
  fxLayout.xs="column" 
  fxFlexFill
  fxLayoutAlign="center center" >
    
    <div fxFlex="0"   style="text-align:center;margin-top:150px">
        <img src="/assets/LogoMakr_9wMjt7.png" alt="logo" class="lunchpal-logo">
    <h1>Welcome to LunchPal</h1>
    <div class="h6">
      <p>
        Hi there, if you're hungry and up for a nice conversation within your
        interests, you sure came to the right place.
      </p>
      <p>
        Find your LunchPal now!
      </p>
    </div>
  
    <br>
    
    <button  mat-button [routerLink]="['/login']">Login</button>
    <button mat-button [routerLink]="['/register']">Register</button>
 
    </div> 
   
 
  </div>
   
 <div fxLayout="column" style="width:90%;"  id="rightHalf">
 
</div>

 
 
</div>
        </div>
    </div>

<!--</section>-->
